<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Farms</title>
</head>

<body>
    <% for(let i of farms) {%>
        <p>
            <a href="http://127.0.0.1:80/farm/<%= i._id %>"><%= i %></a>
        </p>
    <% } %>

    <br><a href="http://127.0.0.1:80/newfarm">New Farm</a>
<br><br><br><br>
    <% for(let i of products) {%>
        <p>
           <a href="http://127.0.0.1:80/product/<%= i._id %>"><%= i %></a> 
        </p>
    <% } %>
    <br><a href="http://127.0.0.1:80/newproduct">New Product</a>
</body>

</html>